<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.gdo.android.example.materialdesign" >

    <application android:allowBackup="true" android:label="@string/app_name">
        <activity android:name=".MaterialDesignActivity"
            android:screenOrientation="portrait" />
    </application>
<!--            android:theme="@style/AppTheme.Toolbar"
-->
</manifest>
