<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gdo.android.example.foldinghorizontallayout">

    <application android:allowBackup="true" android:label="@string/app_name">
        <activity
            android:name=".FoldingHorizontalLayoutActivity"
            android:screenOrientation="landscape" >
        </activity>
    </application>

</manifest>
